* {
    box-sizing: border-box;
}

:root {
    --background-color: #FFF;
    --background-color-level-1: #1F305E;
    --text-color: #1F305E;
    --text-color-level-1: #FFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #141e3b;
        --text-color: #FFF;
        --background-color-level-1: rgba(0, 0, 0, .6);
    }
}

:root {
    font-size: 20px;
    font-family: -apple-system, "SF Pro Text", Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100%;
}

label > span {
    font-size: 18px;
    display: block;
}

label {
    display: block;
    margin: 30px 0;
}

input, button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    font: inherit;
    color: var(--text-color-level-1);
    background-color: var(--background-color-level-1);
    padding: 20px;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    transition: opacity 125ms;
}

button {
    cursor: pointer;
}

button:not([disabled]):hover {
    opacity: .85;
}

button:not([disabled]):active {
    opacity: .95;
}

button[disabled] {
    opacity: .4;
}

body {
    margin: 0;
}

main {
    width: 100%;
    max-width: 560px;
    margin: auto;
    padding: 40px 30px;
}

.output {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

a {
    color: var(--text-color);
}

header > a {
    font-size: 16px;
}